<div *ngIf="selectedHero">
    <div>
        <h2>{{selectedHero.name}} Details</h2>
          <div><span>id: </span>{{selectedHero.id}}</div>
        <div>
          <label>name:
            <input [(ngModel)]="selectedHero.name" placeholder="name">
          </label>
        </div>
      </div>      
</div>