<p>
  {{heroes.id}}: {{heroes.name | uppercase}}
</p>
<img src="../../assets/a-fluffy-cat.jpg" alt="A fluffy cat">

<div>
  <label for="">name:
    <input [(ngModel)]="heroes.name" placeholder="name">
  </label>
</div>

<div>
  <h2>My heroes are as following</h2>

  <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
      <span class="badge">{{hero.id}}: </span>{{hero.name}}
    </li>
  </ul>
</div>


<app-hero-detail [hero]="selectedHero"></app-hero-detail>
